{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Event and todo list</h1>

            <p> This site is here, in order to provide funtionality of a todo tracker as wella s a tracker for events.</p>
           
        </div>

    </div>

</div>
{{end}}