{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Dev website</h1>

            <p>This website was created by me, Lukas Lötscher.</p>
            <p> The site is still under development.</p>
            <p> mostly the idea behind this site is to gain some experience in the development of a website using go.</p>
           
        </div>

    </div>

</div>
{{end}}