{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Event and todo list</h1>

            <p></p>
           
        </div>

    </div>

</div>
{{end}}